body {
    margin: 20px;
    padding: 0;
}
main {
    padding: 20;
    background-color: #d0bdf4;
    border: 20px;
}
footer {
    background-color: #8458B3;
    height: 20px;
    padding: 20px;
    border: 20px solid white;
    color: white;

}
nav {
    border: 1px solid white;
    background-color: #8458B3;
    background-size: 20;
    padding: 20px;
    height: 20px;
    border: 20px solid white
}
a {
    color:white;
    text-decoration: none;
}
h1 {
    color: white;
}
.gridcontainer {
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
}

.recipeitems {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}

h3 a {
    color:black;
}
